<div id="comment-<%= comment.id %>" class="comment-form edit-delete">
  <%= form_with(model: comment) do |form| %>
    <p>コメント</p>
    <%= form.text_area :content %>
    <button type="submit" class="submit-btn">決定</button>
    <button type="reset" class="cancel-btn">キャンセル</button>
  <% end %>
  <div class="clear"></div>
</div
