<% provide(:title, @user.name) %>

<div class="main">

<img src=<%= @user.image %>
>
<p><%= @user.name %></p>

<% if current_user.id != @user.id %>

    <div class="follow-link">
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー解除", "/relationships/#{@user.id}", method: :delete, remote: true %>
      <% else %>
        <%= link_to "フォロー", "/relationships/?user_id=#{@user.id}", method: :post, remote: true %>
      <% end %>
    </div>
<% end %>



</div>
