<span class="item-scroll-score">
  <%= render "items/score", score: item.average_score.round(1) %>
  <span class="item-scroll-review">
    <% review_count = item.reviews.count %>
    <span class ="fa fa-edit">レビュー <%= review_count unless review_count.zero? %></span>
  </span>
</span>

<% if division %>
  <div></div>
<% end %>

<span class="item-scroll-margin">
  <% watch_count = item.watched_items.count %>
  <span class ="watched_items fa fa-check-square-o unwatched-btn">観た！<%= watch_count unless watch_count.zero? %></span>
</span>

<% want_count = item.want_to_watch_items.count %>
<span class="want_to_watch_items fa fa-star unwant-to-watch-btn">観たい！<%= want_count unless want_count.zero? %></span>
