<% count ||= CommentLike.where(comment_id: comment.id).count %>

<% if CommentLike.find_by(user_id: current_user&.id, comment_id: comment.id) %>
  <%= link_to "/comment_likes/#{comment.id}?count=#{count}", data: {"turbolinks" => false}, method: "delete", remote: true do %>
    <span class="fa fa-heart like-btn-unlike">いいね！<%= count %></span>
  <% end %>
<% else %>
  <%= link_to "/comment_likes?comment_id=#{comment.id}&count=#{count}", data: {"turbolinks" => false}, method: "post", remote: true do %>
    <span class="fa fa-heart like-btn">いいね！<%= count unless count.zero? %></span>
  <% end %>
<% end %>
